In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
!dir *.csv

 Volume in drive C has no label.
 Volume Serial Number is 7284-E5EF

 Directory of C:\Users\Surnaik\Desktop\Neha\Santa Clara\academics\Qtr3\Dashboard\Group Projct

04/27/2017  01:26 PM           498,159 Auro_Intervention_Data.csv
05/22/2017  09:43 AM               524 checkpoint.csv
               2 File(s)        498,683 bytes
               0 Dir(s)  24,830,529,536 bytes free

In [5]:
checkpoint = pd.read_csv('checkpoint.csv', header = None, usecols=[0,1,2,3,4])
checkpoint.head()

    0  1          2           3                              4
0  10  7  37.349903 -121.937686                 Veterans Plaza
1  11  7  37.350171 -121.938950          Vari Hall - Westbound
2  12  7  37.350146 -121.938974  Admissions Center - Eastbound
3  13  7  37.349587 -121.941138                        Mission
4  14  7  37.350574 -121.941718                   Franklin St.

In [10]:
checkpoint.columns = ['checkpoint_id', 'zone_id', 'latitude','longitude','location_name']

In [11]:
checkpoint.count()

checkpoint_id    6
zone_id          6
latitude         6
longitude        6
location_name    6
dtype: int64

In [12]:
checkpoint.dropna()

,checkpoint_id,zone_id,latitude,longitude,location_name
0,10,7,37.349903,-121.937686,Veterans Plaza
1,11,7,37.350171,-121.938950,Vari Hall - Westbound
2,12,7,37.350146,-121.938974,Admissions Center - Eastbound
3,13,7,37.349587,-121.941138,Mission
4,14,7,37.350574,-121.941718,Franklin St.
5,15,7,37.348310,-121.940527,Santa Clara St.

In [14]:
checkpoint.to_csv('checkpoint_clean.csv')